/* 
article>p:first-child{
    color: red;
} */


/* 
article>p:first-of-type{
    color: orange;
} */


/* 
article p:last-child{
color: orangered;
} */


/* 
article p:last-of-type{
color: orangered;
} 
article span:last-of-type{
    color: darkgoldenrod;
} */



article>span:nth-of-type(3){
    background-color: black;
    color: aqua;
} 



article>span:nth-last-of-type(3){
    background-color: purple;
    color: white;
}